
*{
    margin:0;
    padding:0;
    }
input::-webkit-input-placeholder {
    color: #B6C0A5; 
    font-style: italic; 
    
}
input:-moz-placeholder {
    color: #060802; 
    font-style: italic; 
    
}
input:-ms-input-placeholder {
    color: #B6C0A5;     
}
input[type="search"]{
    margin-left: 200px;
    padding: 5px;
    width: 250px;
    border-color: rgb(184, 177, 177);
    border-style: solid;
    border-radius: 15px;
    margin-left: 400px;
}
input[type="search"]:focus{
    border-color: black;
}
button{
    width: 35px;
    height: 35px;
    border-radius: 15px;
    justify-content: space-evenly;
}
.container{
    margin: 0;
    display: grid;
    grid-template-columns: 70px ,1fr;
    grid-template-rows: 60px , 1fr, 70px;
    grid-template-areas: "head head"
                        "bokova_panel main__wrapper"
                        "footer footer";
    

}

header{
    grid-area: head;
    box-shadow: 0px 3px 10px 2px gray;
    display: flex;
    /* display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px ,1fr));
    grid-template-areas: "logo forma micro bell dropdown"; */
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}



/* .main-content{
    grid-area: main-content;
} */


  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    
    width: 20%;
    padding: 0px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }



.logo{
    display: block;
    /* grid-area: logo; */
}
.forma{
    margin-top: 20px;
    display: block;
    width: max-content;
    margin-left: 450px;
    
       
}

.micro{
    min-width: max-content;
    display: block;
    margin-right: 290px;
    
}
.bell{
    display: block;
    margin-left: 268px;
}
.dropdown{
    justify-self: end;
    display: block;
    
}


#red{
    color: red;
}
.main-content{
    grid-area: main;
}

.footer{
    grid-area: footer;
    background-color: rgb(27, 25, 25);
}
.icon{ 
    width: 25px;
    height: 25px;
}
.icon:nth-of-type(1){
    margin-left: 5px;
    width: 20px;
    height: 20px;
    padding-bottom: 9px;
}
.icon:nth-of-type(2){
    margin-left: 600px;
    margin-right: 5px;
}
.elipse{
    background-color: orange;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 11px;
    margin-left: 10px;
    margin-top: 12px;
}
/* стили боковой панели */
.bokova_panel{
    display: grid;
    width: max-content;
    grid-area: bokova_panel;
    justify-content: left;
    background-color: rgb(231, 214, 179);
}
.card:hover{
    background-color: rgb(141, 138, 138);
}
/* стиль карочки  */
.card{
    display: flex; 
    border-color: rgb(219, 210, 210);
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
}
/* стиль аватара */
.avatar{
    width: 40px;
    height: 40px;
    background-color: chocolate;
    border-radius: 50%;
    border-style: solid;
    padding: 3px;
    margin-right: 10px;
}
.avatar img{
    width: 90%;
    height: 90%;
    
}
.name{
    padding-right: 40px;
}
/* стиль анимации с прямым эфиром */
.animation_elipse{
    justify-content: start;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
} 
@keyframes pulse_animation {
    0% {
      -webkit-transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
    }
  }
  
.animation_elipse {
    -webkit-animation-name: 'pulse_animation';
    -webkit-animation-duration: 3000ms;
    -webkit-transform-origin: 70% 70%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
  }
  
 @keyframes pulsate {
     0% {
      -webkit-transform: scale(1, 1);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.1, 1.1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1, 1);
      opacity: 1;
    }
  }

  .main__wrapper{
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
}
/*********</ASIDE COMPONENT END>*********/

/*********<Сategories COMPONENT START>*********/
.categories {
}
.categories__container {
    overflow-x: auto ;
    display: flex;
    align-items: flex-start;
}
.categories__item {
    flex:0 0 80px;
    text-align: center;
    padding:5px 15px;
    background-color: rgb(201, 198, 198);
    border-radius: 15px;
    font-size:16px;
    margin-right:25px;
    margin-bottom:10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}
.categories__item:hover{
    background-color: rgb(155, 153, 153);
}

.categories__item--active{
    color:white;
    background-color: rgb(252, 185, 1);
}

.categories__item--active:hover{
    background-color: rgb(252, 185, 1);
}
/*********<ASIDE COMPONENT START>*********/

.box-container{
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 30px;
}
@media screen and (max-width:1200px) {
  .box-container{
      grid-template-columns: 80px 1fr;
  }
}
.asideBar {
  background-color:rgb(224, 224, 224);
  width:300px;
  position: fixed;
  left:0;
  height: 100%;
  overflow: auto;
}


.aside-bar-pseudo{
  min-width: 300px
}

.asideBar__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
}
.asideBar__srtimers {
  flex:1 1 auto;
  display: flex;
  overflow:auto;
  flex-direction: column;

}

.asideBar__srtimers--item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding:15px 15px 15px 25px;
  transition: all 0.5s ease-in-out;
  
}
.asideBar__srtimers--item:hover{
  background-color: rgb(184, 183, 183);
}
.asideBar__srtimers--img {
  width:40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  margin-right:10px;
}

.asideBar__srtimers--img img{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:85%;
  object-fit: cover;
  object-position: center;
}
.asideBar__srtimers--item--online .asideBar__srtimers--number::before{
  content: "";
  display: block;
  width:10px;
  height: 10px;
  position: absolute;
  top:3px;
  left:-20px;
  border-radius: 50%;
  background-color: rgb(199, 30, 30);
  animation: pulse 2s ease-in-out 1.5s infinite;
}


.asideBar__srtimers--name {
  font-size:20px;
  text-overflow: ellipsis;
  max-width:150px;
  white-space: nowrap;
  overflow: hidden;
  color:black;
  transition: all 0.5s ease-in-out;
}
.asideBar__srtimers--name:hover{
  color:rgb(65, 62, 238)
}
.asideBar__srtimers--number {
  margin-left: auto;
  position: relative;
}

.asideBar__info{
display: flex;
flex:0 0 250px;
padding:15px 15px;
box-sizing: content-box;
flex-direction: column;
background-color: rgb(224, 224, 224); 
border-top:1px solid #fff;  
}

.asideBar__info-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(209, 205, 205); 
  border-radius: 5px;
  
}
.asideBar__info-content h2{
  text-align: center;
  margin:20px 0 20px 0;
  font-size:20px;
}
.asideBar__info-content h2::selection{
  background-color: rgb(250, 163, 2);
  color:white;
}

.asideBar__links-block{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
}

.asideBar__link-item{
  width:25px;
  height:25px;
  cursor: pointer;

}
.asideBar__link-item:hover svg{
  color:rgb(44, 187, 212);
}

.asideBar__link-item svg{
  transition:all 1s ease-in-out;
}
.asideBar__link-item:not(:last-child){
  margin-right:30px;
}

@media screen and (max-width:1200px) {
  .asideBar{
      width:80px;
  }
  .aside-bar-pseudo{
      width: 80px
  }
  .asideBar__srtimers--item{
      padding:10px;
  }
  .asideBar__srtimers--item:last-child{
      margin-bottom: 30px;
  }
  .asideBar__srtimers--name{
      display: none;
  }
  .asideBar__srtimers--number {
      display: none;
  }
  .asideBar__info{
      display: none;
  }
  .asideBar__srtimers--img{
      margin:0 auto;
  }
}
.main-screen{
  padding-top:25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
 
}
.main__wrapper{
  flex:1 1 auto;
  display: flex;
  flex-direction: column;
}
/*********</ASIDE COMPONENT END>*********/

/*********<Сategories COMPONENT START>*********/
.categories {
}
.categories__container {
  overflow-x: auto ;
  display: flex;
  align-items: flex-start;
}
.categories__item {
  flex:0 0 80px;
  text-align: center;
  padding:5px 15px;
  background-color: rgb(201, 198, 198);
  border-radius: 15px;
  font-size:16px;
  margin-right:25px;
  margin-bottom:10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.categories__item:hover{
  background-color: rgb(155, 153, 153);
}

.categories__item--active{
  color:white;
  background-color: rgb(252, 185, 1);
}

.categories__item--active:hover{
  background-color: rgb(252, 185, 1);
}

/*********</Сategories COMPONENT END>*********/

/*********<Videos COMPONENT START>*********/
.videos {
  margin-top:100px;
}
.videos__container {
  padding-right:25px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  column-gap: 20px;
  row-gap: 20px;
}
.videos__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.videos__img {
  display: block;
  margin-bottom: 10px;
  width:100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.videos__img:hover .videos__img-overfloy{
  transform: translateY(0);
}

.videos__img-overfloy{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1;
  transform: translateY(-500px);
  transition: all 0.5s ease-in-out;
  background-color: rgba(29, 29, 29, 0.288);
}
.videos__img-overfloy svg{
  width: 50px;
  height: 50px;
  position: absolute;
  top:50%;
  left:50%;
  color:#fff;
  transform: translate(-50%,-50%);
}

.videos__img img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.videos__info {
  display: flex;
  width:100%;
}
.videos__photo {
  margin-right: 10px;
  width:45px;
  height:40px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
}
.videos__photo img{
 position: absolute;
 top:50%;
 left:50%;
 transform: translate(-50%,-50%);
 width:75%;
 height: 70%;
}
.videos__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
}
.videos__title {
  overflow: hidden;
  display: inline-block;
  max-width:200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  color:black;
  transition: all 0.5s ease-in-out;
  font-weight: 700;
}

.videos__title:hover,.videos__author:hover{
  color:rgb(100, 79, 219);
}

.videos__author {
  font-size:14px;
  color:rgb(189, 189, 189);
  margin-top:5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.videos__setings {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.videos__setings span{
  height:8px;
}


.videos__live{
  position: absolute;
  top:10px;
  left:10px;
  color:#fff;
  background-color: rgb(223, 25, 25);
  text-align: center;
  padding:5px;
  border-radius: 5px;
  font-size:16px;
}
.videos__views{
  position: absolute;
  text-align: center;
  bottom: 0;
  right:0;
  color:#fff;
  background-color: rgba(63, 62, 62, 0.438);
  padding:5px;
  border-radius: 5px;
  right: 10px;
  bottom: 10px;
}
/*********</Videos COMPONENT END>*********/

/*********<Footer COMPONENT START>*********/

.footer{
  padding:25px 0;
  margin-top:50px;
}
.footer__content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__content span{
  text-align: center;
  width:25px;
  height:25px;
  margin-left:10px;
  position: relative;
}
.footer__content span svg{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:90%;
  height:90%;
}


/*********</Footer COMPONENT END>*********/

/*********<CAROSUEL COMPONENT START>*********/



@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}




  .carousel__viewport::-webkit-scrollbar {
  width: 0;
  } 


  



ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.carousel {
  scrollbar-width: 0px;
  position: relative;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  width: 90%;
  height: 400px;
  align-self: center;
  margin:50px 0 50px 0;
  max-width:900px;
}



.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  
  background-color: #fff;

  counter-increment: item;
}
.carouserl__img{
    flex:1 1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.carouserl__img img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.carouserl__img:hover .carouserl__img-overfloy{
      transform: translateY(0px);
} 
.carouserl__img-overfloy{
    transition: all 0.5s ease-in-out;
    position: absolute;
    transform: translateY(-500px);
    background-color: rgba(44, 44, 44, 0.267);
    z-index: 2;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
.carouserl__img-overfloy svg{
    color:#fff;
    width:45px;
    height:45px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.carouserl__info{
    flex:0 0;
    display: flex;
    flex-direction: column;
    padding:10px 10px 0 10px;
}
.carouserl__author{
    width:45px;
    height: 45px;
    position: relative;
    flex:1 0 45px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow:  0 0 5px 1px rgba(107, 107, 107, 0.685);
    margin-right:10px;
}
.carouserl__author img{
    width:70%;
    height: 70%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}



.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  flex-direction: row;
}

.carouserl__firstLine{
    display: flex;
}

.carouserl__title-and-user h2{
      font-size: 17px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width:100px;
      color:black;
      transition: all 0.5s ease-in-out;
      font-weight: 700;
      cursor: pointer;
}
.carouserl__title-and-user h2:hover,.carouserl__title-and-user span:hover{
  color:rgb(100, 79, 219);

}

.carouserl__title-and-user span{
  font-size:14px;
  color:gray;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.carouserl__description{
  color:rgb(94, 94, 94);
  margin-top:15px;
}

@media screen and (max-width:800px) {
  .carousel{
      
  }
  .carouserl__info{
      display: none;
  }
}



@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: -30px;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}





/*********</CAROSUEL COMPONENT END>*********/





  







 


